*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    max-width: 1000px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('yasuo.jpg');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}

h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    max-width: 400px;
    padding: 2px;
    
    
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

header{
    background-color: blueviolet;
    height: 130px;
    
}

nav{
    
    margin: 40px 110px 50px 00px;
    
}

a:hover{
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
}

main{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    max-width: 300px;
}

p{
    text-align: justify;
}

